html,
body {
	margin: 0;
	height: 100%;
}

:root {
	--color: #e8e8e8;
	--color-inactive: #868686;
	--color-disabled: #454545;
	--bg-color: #181818;
}

body {
	font-family: monospace;
	background-color: #181818;
	color: whitesmoke;
}

::selection {
	background: var(--color);
	color: var(--bg-color);
}

*::-webkit-scrollbar {
	/* width: 0.75rem; */
	/* height: 0.75rem; */
	width: 1rem;
	height: 24px;
	/* background-color: var(--bg-color); */
	/* border: 14px solid white; */
	/* outline: white solid 1px; */
}

/* *::-webkit-scrollbar {
} */

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb:horizontal {
	background-color: var(--color-inactive);
}

*::-webkit-scrollbar-thumb:vertical {
	background-color: var(--color-inactive);
	background-position: 0 0px;
	background-repeat: repeat;
}

*::-webkit-scrollbar-thumb {
	/* background-color: transparent; */
	/* background-color: var(--color-inactive); */
	/* border: 1px dashed var(--color); */

	/* border: 1px solid white; */
	border: 4px solid var(--bg-color);
	border-radius: 0;
}

.btn {
	border: 2px solid var(--color-inactive);
	padding: 0 0.5rem;
	margin: 0.25rem;

	&:hover {
		filter: brightness(0.95);
	}

	&:active {
		outline: var(--color) solid 1px;
		outline-offset: 2px;
		filter: brightness(1);
	}

	&:focus-visible {
		outline: var(--color) solid 1px;
		outline-offset: 1px;
	}

	&:disabled {
		border-color: var(--color-disabled) !important;
	}
}

*:not(.label) > .btn {
	margin-top: 0.5rem;
}

.sm {
	font-size: 0.75rem;
}

.md {
	font-size: 0.875rem;
}

.lg {
	font-size: 1.1rem;
}

input[type='text'] {
	background-color: transparent;
	height: 1em;
	line-height: 1em;
	border-bottom: 1px solid var(--color);
	padding: 0.75rem 0;
	margin: 0 1rem;
	width: 10rem;

	&:focus-visible {
		border-bottom: 1px solid var(--color);
	}
}

@keyframes input-blink {
	from {
		border-left: 0.375rem solid var(--color);
	}
	to {
		border-left: 0.375rem solid transparent;
	}
}

input[type='text']:focus-visible {
	outline: none;
}

.caret + input {
	margin-left: 0;
}

.caret::before {
	display: inline;
	font-size: 1em;
	padding: 0.125em 0;
	margin: 0 0rem 0 1rem;
	height: 1em;
	line-height: 1em;
	content: var(--caret-label, '>');
	text-align: center;
	border-bottom: 1px solid var(--color);
}

.caret:has(+ input:focus-visible)::before {
	animation: caret-blink 1.066s steps(2, jump-none) infinite;
}

@keyframes caret-blink {
	from {
		color: var(--color);
	}
	to {
		color: transparent;
	}
}

input[type='checkbox'] {
	height: 0;
	width: 0;
}

.switch {
	user-select: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}

.switch::before {
	display: inline-block;
	content: '';
	height: 1rem;
	width: 2.5rem;
	margin-right: 0.5rem;
	border: 1px solid var(--color);
	background: linear-gradient(
		to right,
		var(--color),
		var(--color) 1rem,
		transparent 1rem,
		transparent 2.5rem
	);
	transition: background-position 150ms steps(3, jump-none);
}

.switch:has(input[type='checkbox']) {
	color: var(--color);
	filter: brightness(0.85);
}

.switch:has(input[type='checkbox']:checked) {
	color: var(--color);
	filter: brightness(1);
}

.switch:has(input[type='checkbox']:checked)::before {
	background-position: 1.375rem;
}

.switch:has(input[type='checkbox']:focus-visible)::before {
	outline: var(--color) solid 1px;
	outline-offset: 1px;
}

.container {
	padding: 0.25rem 0.25rem;
	margin: 0.75rem;
	border: 2px solid var(--color-accent, var(--color-inactive));
	position: relative;
	background-color: var(--bg-color);

	/* &:hover {
		 --color-accent: #4cba3c; 
	} */

	&.nomar {
		margin: 0;
	}

	&:hover {
		border-color: var(--color);
	}

	&.interactable {
		filter: brightness(0.85);
	}

	&.interactable:active {
		outline: var(--color-accent, var(--color)) solid 1px;
		outline-offset: 2px;
		filter: brightness(1);
	}

	&:not(.manual)::before,
	& > .label {
		z-index: 5;
		text-indent: 0;
		position: absolute;
		font-size: 1rem;
		text-align: center;
		top: -0.75rem;
		left: 1ch;
		background-color: var(--bg-color);
		padding: 0 0.5rem;
		content: var(--label);
		color: var(--color-accent, var(--color));
	}

	& > .label {
		top: -1.375rem;
	}
}

.row {
	display: flex;
	align-items: center;
}

.space-between {
	justify-content: space-between;
}
/* .label::before, */

.upper {
	text-transform: uppercase;
}
