html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-family: monospace;
	background-color: #181818;
	color: whitesmoke;

	--color: whitesmoke;
	--color-inactive: #cdcdcd;
	--bg-color: #181818;
}

*::-webkit-scrollbar {
	/* width: 0.75rem; */
	/* height: 0.75rem; */
	width: 24px;
	height: 24px;
	/* background-color: var(--bg-color); */
	/* border: 14px solid white; */
	/* outline: white solid 1px; */
}

/* *::-webkit-scrollbar {
} */

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb:horizontal {
	background-image: repeating-linear-gradient(
			0deg,
			transparent,
			transparent 4px,
			var(--bg-color) 4px,
			var(--bg-color) 20px
		),
		repeating-linear-gradient(
			90deg,
			var(--bg-color),
			var(--bg-color) 12px,
			yellow 12px,
			yellow 24px
		);
	background-size: 24px;
	background-position: 0 12px;
	background-repeat: repeat;
}

*::-webkit-scrollbar-thumb:vertical {
	/* background-image: repeating-linear-gradient(
			90deg,
			var(--bg-color),
			var(--bg-color) 12px,
			transparent 12px,
			transparent 16px,
			var(--bg-color) 16px,
			var(--bg-color) 24px
		),
		repeating-linear-gradient(0deg, white, white 8px, var(--bg-color) 8px, var(--bg-color) 20px); */

	background-image: linear-gradient(
			to bottom,
			var(--bg-color),
			var(--bg-color) 4px,
			transparent 4px
		),
		linear-gradient(to top, var(--bg-color), var(--bg-color) 4px, transparent 4px),
		linear-gradient(
			to right,
			white,
			white 2px,
			var(--bg-color) 2px,
			var(--bg-color) 7px,
			transparent 7px
		),
		linear-gradient(
			to left,
			white,
			white 2px,
			var(--bg-color) 2px,
			var(--bg-color) 7px,
			transparent 7px
		),
		repeating-linear-gradient(0deg, white, white 10px, var(--bg-color) 10px, var(--bg-color) 18px);

	/* repeating-linear-gradient(0deg, white, white 8px, var(--bg-color) 8px, var(--bg-color) 20px); */
	/* background-size: 24px; */
	background-position: 0 0px;
	background-repeat: repeat;
}

*::-webkit-scrollbar-thumb {
	/* background-color: transparent; */
	/* background-color: var(--color-inactive); */
	/* border: 1px dashed var(--color); */

	/* border: 1px solid white; */
	border: 4px solid var(--bg-color);
	border-radius: 0;
}

.btn {
	border: 1px solid var(--color);
	filter: brightness(0.85);
	padding: 0 0.5rem;
	margin: 0.5rem;

	&.sm {
		font-size: 0.75rem;
	}

	&.md {
		font-size: 0.875rem;
	}

	&.lg {
		font-size: 1.1rem;
	}

	&:hover {
		filter: brightness(0.95);
	}

	&:active {
		outline: var(--color) solid 1px;
		outline-offset: 2px;
		filter: brightness(1);
	}
}

/* .label {
	position: relative;
} */

.container {
	padding: 14px 0.25rem;
	margin: 1rem;
	border: 1px solid var(--color-accent, var(--color));
	position: relative;
	background-color: var(--bg-color);

	/* &:hover {
		 --color-accent: #4cba3c; 
	} */

	&.nomar {
		margin: 0;
	}

	&:hover > * {
		--color-accent: var(--color);
	}

	&.interactable {
		filter: brightness(0.85);
	}

	&.interactable:active {
		outline: var(--color-accent, var(--color)) solid 1px;
		outline-offset: 2px;
		filter: brightness(1);
	}

	&:not(.manual)::before,
	& > .label {
		z-index: 5;
		text-indent: 0;
		position: absolute;
		font-size: 1rem;
		text-align: center;
		top: -0.75rem;
		left: 0.25rem;
		background-color: var(--bg-color);
		padding: 0 0.5rem;
		content: var(--label);
		color: var(--color-accent, var(--color));
	}

	& > .label {
		top: -1.375rem;
	}
}

.row {
	display: flex;
	align-items: center;
}

.space-between {
	justify-content: space-between;
}
/* .label::before, */
